*
{
    margin:0;
    padding:0;
}

.bg-img {
    /* The image used */
    background-image: url("image.jpg");
  
    height:450px;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .name
  {
      color:whitesmoke;
      text-align: center;
      font-size: xx-large;
      font-weight: 1000;
      font-style: oblique;
      font-family:Georgia, 'Times New Roman', Times, serif
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }


  /*----------------------about-------------------------*/
  .aabba
  {
      background-image: rgb(22, 20, 20);
      padding:none;
  }
  .aboutme 
  {
      margin-top: 20px;
      margin-bottom: 20px;
      color:blueviolet;
      font-weight:600;
      font-style: oblique;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
  }
  .aboutme::before
    {
    content:'';
    background:gray;
    height:5px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    transform: translateY(63px);
    
    }
    .social-icon img
    {
        height:50px;
        width:50px;
        transition:0.5s;
    }
    .social-icon a:hover img  
    {
    transform: translateY(-10px);
    }
      
    .col-md-4
    {
        box-shadow: 0 0 15px 1px rgba(242, 241, 247, 0.5) ;
        width:100%;
        border-radius: 5px;
        margin-bottom: 50px;
        
    }
    .monkey
    {
        width:200px;
        height:200px;
        margin-left: 50px;
    }
    .row
    {
        margin-left: 30px;
    }
.contaain
{
    background-image:linear-gradient(to left,white,rgb(247, 243, 243));
    text-align: center;

}
.tech-head
{
        margin-top: 20px;
      margin-bottom: 20px;
      color:blueviolet;
      font-weight:600;
      font-style: oblique;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
}
#technical ul li{
    list-style: none;
}
.tech-part
{
        margin-top: 20px;
      margin-bottom: 20px;
      color:rgb(231, 118, 42);
      font-weight:600;
      font-style: oblique;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;

}
.tech-part::before
{
    content:'';
    background:gray;
    height:5px;
    width:600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display:block;
    transform: translateY(63px);
}
.heading
{
    margin-top: 20px;
    margin-bottom: 20px;
    color:rgb(158, 106, 158);
    font-weight:400;
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
    text-align: center;

}
.experience
{
    background-color: rgb(231, 218, 204);

}
.exp-head
{
    margin-top: 20px;
    margin-bottom: 20px;
    color:rgb(71, 63, 57);
    font-weight:600;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.exp12
{
    margin-top: 20px;
    margin-bottom: 20px;
    color:rgb(69, 56, 117);
    font-weight:600;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}
.education
{
    background-image: linear-gradient(to left,rgb(255, 246, 246), rgb(221, 200, 200));
    
}
.edu-head
{
    margin-top: 20px;
    margin-bottom: 20px;
    color:rgb(9, 2, 32);
    font-weight:600;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
.edu-list
{
    margin-top: 20px;
    margin-bottom: 20px;
    color:rgb(170, 145, 145);
    font-weight:100;
    font-style: oblique;
    font-family:sans-serif;
    text-align: center;

}
.edu-content
{
    text-align: center;
}
.port-head
{
    margin-top: 20px;
    margin-bottom: 20px;
    color:rgb(206, 39, 39);
    font-weight:100;
    font-style: oblique;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;

}
.port-head::before
{
    content:'';
    background:gray;
    height:5px;
    width:100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display:block;
    transform: translateY(63px);


}
.contactme
{
    background-image: linear-gradient(to bottom, white,rgb(187, 190, 194));
}
.contact-head
{
    margin-top: 20px;
    margin-bottom: 20px;
    color:rgb(40, 3, 126);
    font-weight:100;
    font-style: oblique;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
   
}
.port-con
{
    text-align: center;
}
.port ul li
{
    text-align: center;
    font-size:medium ;
}
.port-content
{
    text-align: center;
    font-size:large ;
    
}
.cont
{
    text-align:center;
    height:400px;
}
.text
{
    width: 700px;
    height:50px;
    border-radius: 5%;
    margin-bottom: 10px;
}
.textarea
{
    height:150px;
    width:700px;
    border-radius: 5%;
    margin-bottom: 20px;
}
.btn-primary
{
    margin-bottom: 50px;
    width:100px;
    background-image: linear-gradient(to bottom,rgb(71, 20, 71),rgb(108, 48, 121));
}